.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 837px;
  justify-content: flex-start;
  align-items: flex-start;
  background: #ffffff;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  justify-self: flex-start;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 0.2s;
  border-radius: var(--token-Xe6iBQTgoIds);
  padding: 32px;
  border: 1px solid var(--token-pO-EWZheHKxz);
}
.freeBox___69Uu9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.freeBox__vgooN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
  margin-bottom: var(--token-sOKgu1b-fMSG);
  align-self: auto;
  flex-shrink: 0;
}
.freeBox__bdnOa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.h6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox__ebp0W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
