.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 360px;
  justify-content: flex-start;
  align-items: flex-start;
  background: #ffffff;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition-property: all;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 0.2s;
  border-radius: var(--token-Xe6iBQTgoIds);
  padding: 32px;
  border: 1px solid var(--token-pO-EWZheHKxz);
}
.h4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.h6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: var(--token-sOKgu1b-fMSG);
  min-width: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
  margin-bottom: var(--token-sOKgu1b-fMSG);
  flex-shrink: 0;
}
.freeBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
